<h1><%= @part.part_name %></h1>
<% @posts.each do |post| %>
	<h2><%= post.title %></h2>
	<%= markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML, :autolink => true)
        markdown.render(post.body).html_safe %>
<% end %>