$red: #F45537;

.container {
	width:940px;
}

div#preamble {
	text-align:center;
	padding-top:101px;
}

div#byline {
	margin-bottom:34px;
}

span.author {
	background:#fff;
	color:$red;
	font-size:16px;
	text-transform: uppercase;
	border-radius:20px;
	padding: 4px 7px 1px 4px;
	font-weight:500;
	font-family: worksans-medium-webfont;
	box-shadow: 0px 1px 0px 1px rgba(0,0,0,0.1);
	text-shadow:none;
}

img.avatar {
	height:18px;
	width:18px;
	margin-right:3px;
	margin-top:-4px;
	margin-left:1px;
}

form.hide {
	
}

input[type="email"] {
	width:340px;
	border: 2px solid #E75034;
	border-radius:6px;
	color:#B1B1B1;
	font-size:16px;
	font-weight: 400;
	line-height:28px;
	padding: 15px 15px 12px 15px;
	font-family: worksans-regular-webfont;
}

input#subscribe {
	margin-left:-115px;
	background-color:#5AAFCC;
	border-radius:3px;
	color:#fff;
	border:none;
	padding:15px 14px 11px 14px;
	font-size:13px;
	text-transform:uppercase;
}

h4#input-caption {
	margin-bottom:11px;
	text-shadow:none;
}

div.part {
	height: 104px;
	border-radius:4px;
}

div.part-cnt {
	margin-top: 103px;
	margin-bottom: 51px;
	text-align:center;
}

div.part h2 {
	font-weight:600;
	font-family:'worksans-semibold-webfont';
	margin-bottom:8px;
	line-height:13px;
	font-size:31px;
}

div.part-0 h2:after, div.part-6 h2:after {
	line-height:22px;
	height:13px;
}

div.part-0 h2:after {
	content: image-url('intro-arrow.png');
	margin-right:5px;
}

div.part-6 h2:after {
	content: image-url('intro-arrow.png');
	margin-left:5px;
}

div.part-1 h2:after {
	content: image-url('line-1.png');
	height:2px;
}

div.part-2 h2:after {
	content: image-url('line-2.png');
	height:2px;
}

div.part-3 h2:after {
	content: image-url('line-3.png');
	height:2px;
}

div.part-4 h2:after {
	content: image-url('line-4.png');
	height:2px;
}

div.part-6 h2:after {
	content: image-url('outro-arrow.png');
	height:5px;
}

div.part h6 {
	font-size:16px;
	font-weight:300;
	letter-spacing: 0.02em;
}

h6 {
	margin-top:12px;
	line-height:16px;
}

div#content {
	background-color:#fff;
	border-radius: 6px;
	padding: 98px 155px 130px 155px;
	color:#000;
	box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.3);
	margin-bottom:80px;
}

div#content img {
	margin: 27px auto 11px auto;
	text-align:center;
	max-width:100%;
}

span.caption {
	font-size:16px;
	font-weight:600;
	font-family:'worksans-semibold-webfont';
	text-align:center;
	line-height: 24px;
	display:block;
	margin: 0 auto 19px auto;
}

textarea {
	padding:32px;
	border:none;
	border: 1px solid #ccc;
}

input#post_title {
	width:100%;
	padding: 16px;
}

textarea:focus, input:focus {
	outline:none;
}

div.part:hover {
	background:rgba(255,255,255,0.1);
}

div.inactive {
	opacity:0.4;
}

div.inactive:hover {
	background:rgba(255,255,255,0);
}


select#mobile-nav {
	display:none;
}

div#content a {
	color: $red;
}

iframe {
	margin: 27px auto 11px auto !important;
}

div#share > iframe, .fb_iframe_widget {
	float:right;
	margin-right:20px;
}

div#share {
	margin-bottom:40px;
}

a:hover {
	text-decoration:none;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

@media (max-width: 767px) {

	.container {
		width:100%;
	}

	div#preamble {
		padding-top:20px;
	}

	span.author {
		font-size:20px;
		padding: 4px 13px 4px 8px;
		position:relative;
		bottom:1px;
	}

	img.avatar {
		height:16px;
		width:16px;
		margin-right:5px;
		margin-top:-1px;
		margin-left:-6px;
	}	

	input[type="email"] {
		width:100%;
		border: 2px solid #E75034;
		border-radius:8px;
		color:#B1B1B1;
		font-size:14px;
		font-weight: 400;
		line-height:16px;
		padding: 16px 10px 14px 20px;
		float:left;
	}

	input#subscribe {
		border-radius:3px;
		font-size:12px;
		padding: 10px 10px 6px 10px;
		line-height:24px;
		margin-top:7px;
		margin-left:-100px;
		box-shadow:none;
	}

	select#mobile-nav {
		display:block;
		margin: 0 auto;
	}

	div.part {
		display: none;
	}

	div#content {
		padding: 34px 15px 65px 15px;
		margin: 0 auto;
		width:100%;
		border-radius:0;
	}

	select {
		background:#fff;
		color:$red;
		line-height:24px;
		font-size:16px;
		background-image: image-url('down-arrow.png');
		background-repeat: no-repeat;
		background-position: 252px 18px;
		background-size:7%;
		border: 2px solid $red;	
		padding: 12px 0px 12px 15px;
		margin:10px 0 27px 0 !important;
		-webkit-appearance:none;
		width:100%;
		font-family: 'worksans-semibold-webfont';
	}


	div.part-cnt {
		display:none;
	}

}